img {
  width: 60px;
  width: 60px;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  float: right;
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding: 10px;
}
li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
