<app-header></app-header>

<h1 [style.color]="color" [style.backgroundColor]="bgColor" >Hello Angular {{title}}  {{data}}</h1>
<button (click)="updateColor()">Update Color</button>



    <!-- <ul *ngFor="let user of userDetails">
        <li>{{ user.name }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.phone }}</li>

        <ul *ngFor="let account of user.accounts">
            <li>{{ account }}</li>
        </ul>
    </ul> -->

<!-- <h3 *ngFor="let user of users">Name is: {{ user }}</h3>

<h3 *ngFor="let user of userDetails">Detail is: {{ user.name }} --- {{ user.email }}
    --- {{ user.phone }}
</h3> -->


<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
    <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
    <h1 *ngSwitchDefault >Unknown Color</h1>

</div> -->


<!-- <ng-template [ngIf]="color==='red'">
    <h1 style="color: red">Red color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1 style="color: green">Green color</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1 style="color: blue">Blue color</h1>
</ng-template> -->



<!-- <h1 *ngIf="show; then ifBlock else elseBlock">
    Code Step By Step
</h1>
<ng-template #ifBlock>
    <h1>If condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>Else Condition</h1>
</ng-template> -->


<!-- <input type="text" value={{name}} disabled={{disable}}>
<br><br>
<input type="text" [value]=name [disabled]="disable">

<app-user-list></app-user-list>
<app-students-list></app-students-list>
<app-country></app-country>
<app-header></app-header>
<app-login></app-login> -->

<!-- <p>Box value is {{displayVal}}</p>

<button (click)="getValue(box.value)">Click Me</button>
<br>
<br>
<input type="text" #box placeholder="enter name" name="username" />
<br>
<br>
<input type="text" #box2 placeholder="keydown box" (keydown)="getData(box2.value)" />
<br>
<br>
<input type="text" #box3 placeholder="blur box" (blur)="getData(box3.value)" />
<br>
<br>
<input type="text" #box4 placeholder="input box" (input)="getData(box4.value)" /> -->


<!-- <h1 (mouseover)="getData('mouse over')">Code Step by Step</h1>

<h1 (mouseleave)="getData('leave')">Krzysztof</h1> -->


<!-- <button (click)="counter('minus')">--</button>
<p>Count: {{count}}</p>
<button (click)="counter('add')">++</button> -->