<h1>Hello Angular {{title}}  {{data}}</h1>

<app-user-list></app-user-list>
<app-students-list></app-students-list>
<app-country></app-country>

<app-login></app-login>

<p>Box value is {{displayVal}}</p>

<button (click)="getValue(box.value)">Click Me</button>
<br>
<br>
<input type="text" #box placeholder="enter name" name="username" />
<br>
<br>
<input type="text" #box2 placeholder="keydown box" (keydown)="getData(box2.value)" />
<br>
<br>
<input type="text" #box3 placeholder="blur box" (blur)="getData(box3.value)" />
<br>
<br>
<input type="text" #box4 placeholder="input box" (input)="getData(box4.value)" />


<!-- <h1 (mouseover)="getData('mouse over')">Code Step by Step</h1>

<h1 (mouseleave)="getData('leave')">Krzysztof</h1> -->